<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:url" content="http://shuffle.joe.dj/play" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Shuffle.in ~ Music Discovery" />
  <meta property="og:description" content="Listen to random music. More than 10 million of discography available!" />
  <meta property="og:image" content="http://shuffle.joe.dj/image?src=logo.png" />
  <title>shuffle.in - music discovery</title>
  <link rel="shortcut icon" href="image?src=favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <style>
    html{
    background: linear-gradient( to left top, #{{ bgcolor }},
    #{{ bgcolor[::-1] }});
    }
  </style>
  
</head>

<body>
  {% block select %}
  <center>
    <h1><font face="Verdana">shuffle.in</font></h1>
    <form id="form1" action="/play" method="POST">
      Listen to
      <select name="style" onchange="this.form.submit();">
	<option selected value="any">some</option>
	{% for s in styles %}
	{% if s == style %} <option selected>{{ s }}</option>
	{% else %} <option>{{ s }}</option> {% endif %}
	{% endfor %}
      </select>
      music
      <input id="shuffle_btn"
	     {% if style %} type="submit" {% else %} type="hidden" {% endif %}
	     name="&#x1F500;" value="&#x1F500;">
    </form>
    {% endblock select %}
    
    {% block info %} {% endblock info %}
    {% block media %} {% endblock media%}
    
    
    {% block footer %}
    
    <div class="footer">
      <img src="image?src=logo.png"  style="display: none;" />
      <img src="image?src=git.png" width="20" height="20"> 
      <a target="_blank" rel="noopener noreferrer" 
	 href="https://github.com/joaovarelas">
	@joaovarelas
      </a>
    </div>
    {% endblock %}
    
  </center>
</body>
</html>

