<select name="style" width="40px">

    {% if style %}
    <option value="{{ style }}" selected>{{ style }}</option>
    <option value="">---- Any Style ----</option>
    {% else %}
    <option value="" selected>---- Any Style ----</option>
    {% endif %}

    <option value="AOR">AOR</option>
    <option value="ASMR">ASMR</option>
    <option value="Aboriginal">Aboriginal</option>
    <option value="Abstract">Abstract</option>
    <option value="Acid">Acid</option>
    <option value="Acid House">Acid House</option>
    <option value="Acid Jazz">Acid Jazz</option>
    <option value="Acid Rock">Acid Rock</option>
    <option value="Acid Techno">Acid Techno</option>
    <option value="Acid Trance">Acid Trance</option>
    <option value="Acoustic">Acoustic</option>
    <option value="African">African</option>
    <option value="Afro-Cuban">Afro-Cuban</option>
    <option value="Afro-Cuban Jazz">Afro-Cuban Jazz</option>
    <option value="Afro-House">Afro-House</option>
    <option value="Afrobeat">Afrobeat</option>
    <option value="Alternative Metal">Alternative Metal</option>
    <option value="Alternative Rock">Alternative Rock</option>
    <option value="Ambient">Ambient</option>
    <option value="Ambient House">Ambient House</option>
    <option value="Ambient Techno">Ambient Techno</option>
    <option value="Andalusian Classical">Andalusian Classical</option>
    <option value="Arena Rock">Arena Rock</option>
    <option value="Art Rock">Art Rock</option>
    <option value="Audiobook">Audiobook</option>
    <option value="Avant-garde Jazz">Avant-garde Jazz</option>
    <option value="Avantgarde">Avantgarde</option>
    <option value="Ax&#xE9;">Ax&#xE9;</option>
    <option value="Azonto">Azonto</option>
    <option value="Bachata">Bachata</option>
    <option value="Bai&#xE3;o">Bai&#xE3;o</option>
    <option value="Balearic House">Balearic House</option>
    <option value="Ballad">Ballad</option>
    <option value="Ballroom">Ballroom</option>
    <option value="Baltimore Club">Baltimore Club</option>
    <option value="Bangladeshi Classical">Bangladeshi Classical</option>
    <option value="Barbershop">Barbershop</option>
    <option value="Baroque">Baroque</option>
    <option value="Basque Music">Basque Music</option>
    <option value="Bass House">Bass House</option>
    <option value="Bass Music">Bass Music</option>
    <option value="Bassline">Bassline</option>
    <option value="Batucada">Batucada</option>
    <option value="Bayou Funk">Bayou Funk</option>
    <option value="Beat">Beat</option>
    <option value="Beatbox">Beatbox</option>
    <option value="Beatdown">Beatdown</option>
    <option value="Beguine">Beguine</option>
    <option value="Berlin-School">Berlin-School</option>
    <option value="Bhangra">Bhangra</option>
    <option value="Big Band">Big Band</option>
    <option value="Big Beat">Big Beat</option>
    <option value="Big Room">Big Room</option>
    <option value="Black Metal">Black Metal</option>
    <option value="Bleep">Bleep</option>
    <option value="Bleep Techno">Bleep Techno</option>
    <option value="Blue-Eyed Soul">Blue-Eyed Soul</option>
    <option value="Bluegrass">Bluegrass</option>
    <option value="Blues Rock">Blues Rock</option>
    <option value="Bolero">Bolero</option>
    <option value="Bollywood">Bollywood</option>
    <option value="Bomba">Bomba</option>
    <option value="Bongo Flava">Bongo Flava</option>
    <option value="Boogaloo">Boogaloo</option>
    <option value="Boogie">Boogie</option>
    <option value="Boogie Woogie">Boogie Woogie</option>
    <option value="Boom Bap">Boom Bap</option>
    <option value="Bop">Bop</option>
    <option value="Bossa Nova">Bossa Nova</option>
    <option value="Bossanova">Bossanova</option>
    <option value="Bounce">Bounce</option>
    <option value="Brass Band">Brass Band</option>
    <option value="Brazilian Bass">Brazilian Bass</option>
    <option value="Break-In">Break-In</option>
    <option value="Breakbeat">Breakbeat</option>
    <option value="Breakcore">Breakcore</option>
    <option value="Breaks">Breaks</option>
    <option value="Brit Pop">Brit Pop</option>
    <option value="Britcore">Britcore</option>
    <option value="Broken Beat">Broken Beat</option>
    <option value="Bubblegum">Bubblegum</option>
    <option value="Bubbling">Bubbling</option>
    <option value="Cajun">Cajun</option>
    <option value="Calypso">Calypso</option>
    <option value="Cambodian Classical">Cambodian Classical</option>
    <option value="Candombe">Candombe</option>
    <option value="Canzone Napoletana">Canzone Napoletana</option>
    <option value="Cape Jazz">Cape Jazz</option>
    <option value="Carimb&#xF3;">Carimb&#xF3;</option>
    <option value="Carnatic">Carnatic</option>
    <option value="Catalan Music">Catalan Music</option>
    <option value="Celtic">Celtic</option>
    <option value="Cha-Cha">Cha-Cha</option>
    <option value="Chacarera">Chacarera</option>
    <option value="Chamam&#xE9;">Chamam&#xE9;</option>
    <option value="Champeta">Champeta</option>
    <option value="Chanson">Chanson</option>
    <option value="Charanga">Charanga</option>
    <option value="Chicago Blues">Chicago Blues</option>
    <option value="Chicago Hard House">Chicago Hard House</option>
    <option value="Chicago Honky">Chicago Honky</option>
    <option value="Chicago House">Chicago House</option>
    <option value="Chicago Push">Chicago Push</option>
    <option value="Chillwave">Chillwave</option>
    <option value="Chinese Classical">Chinese Classical</option>
    <option value="Chiptune">Chiptune</option>
    <option value="Choral">Choral</option>
    <option value="Choro">Choro</option>
    <option value="Christian">Christian</option>
    <option value="Classic Rock">Classic Rock</option>
    <option value="Classical">Classical</option>
    <option value="Cloud Rap">Cloud Rap</option>
    <option value="Coldwave">Coldwave</option>
    <option value="Comedy">Comedy</option>
    <option value="Compas">Compas</option>
    <option value="Complextro">Complextro</option>
    <option value="Conjunto">Conjunto</option>
    <option value="Conscious">Conscious</option>
    <option value="Contemporary">Contemporary</option>
    <option value="Contemporary Jazz">Contemporary Jazz</option>
    <option value="Contemporary R&#x26;B">Contemporary R&#x26;B</option>
    <option value="Cool Jazz">Cool Jazz</option>
    <option value="Copla">Copla</option>
    <option value="Corrido">Corrido</option>
    <option value="Country">Country</option>
    <option value="Country Blues">Country Blues</option>
    <option value="Country Rock">Country Rock</option>
    <option value="Crunk">Crunk</option>
    <option value="Crust">Crust</option>
    <option value="Cuatro">Cuatro</option>
    <option value="Cubano">Cubano</option>
    <option value="Cumbia">Cumbia</option>
    <option value="Cut-up/DJ">Cut-up/DJ</option>
    <option value="DJ Battle Tool">DJ Battle Tool</option>
    <option value="DJ Battle Tool">DJ Battle Tool</option>
    <option value="Dance-pop">Dance-pop</option>
    <option value="Dancehall">Dancehall</option>
    <option value="Danzon">Danzon</option>
    <option value="Dark Ambient">Dark Ambient</option>
    <option value="Darkwave">Darkwave</option>
    <option value="Death Metal">Death Metal</option>
    <option value="Deathcore">Deathcore</option>
    <option value="Deathrock">Deathrock</option>
    <option value="Deep House">Deep House</option>
    <option value="Deep Techno">Deep Techno</option>
    <option value="Delta Blues">Delta Blues</option>
    <option value="Descarga">Descarga</option>
    <option value="Detroit Techno">Detroit Techno</option>
    <option value="Dialogue">Dialogue</option>
    <option value="Disco">Disco</option>
    <option value="Disco House">Disco House</option>
    <option value="Disco Polo">Disco Polo</option>
    <option value="Diva House">Diva House</option>
    <option value="Dixieland">Dixieland</option>
    <option value="Donk">Donk</option>
    <option value="Doo Wop">Doo Wop</option>
    <option value="Doom Metal">Doom Metal</option>
    <option value="Doomcore">Doomcore</option>
    <option value="Downtempo">Downtempo</option>
    <option value="Drone">Drone</option>
    <option value="Drum n Bass">Drum n Bass</option>
    <option value="Dub">Dub</option>
    <option value="Dub Poetry">Dub Poetry</option>
    <option value="Dub Techno">Dub Techno</option>
    <option value="Dubstep">Dubstep</option>
    <option value="Dungeon Synth">Dungeon Synth</option>
    <option value="Dutch House">Dutch House</option>
    <option value="EBM">EBM</option>
    <option value="EBM">EBM</option>
    <option value="Early">Early</option>
    <option value="East Coast Blues">East Coast Blues</option>
    <option value="Easy Listening">Easy Listening</option>
    <option value="Education">Education</option>
    <option value="Educational">Educational</option>
    <option value="Electric Blues">Electric Blues</option>
    <option value="Electro">Electro</option>
    <option value="Electro House">Electro House</option>
    <option value="Electro Swing">Electro Swing</option>
    <option value="Electroclash">Electroclash</option>
    <option value="Emo">Emo</option>
    <option value="Enka">Enka</option>
    <option value="Erotic">Erotic</option>
    <option value="Ethereal">Ethereal</option>
    <option value="Ethno-pop">Ethno-pop</option>
    <option value="Euro House">Euro House</option>
    <option value="Euro-Disco">Euro-Disco</option>
    <option value="Eurobeat">Eurobeat</option>
    <option value="Eurodance">Eurodance</option>
    <option value="Europop">Europop</option>
    <option value="Experimental">Experimental</option>
    <option value="Fado">Fado</option>
    <option value="Favela Funk">Favela Funk</option>
    <option value="Fidget House">Fidget House</option>
    <option value="Field Recording">Field Recording</option>
    <option value="Flamenco">Flamenco</option>
    <option value="Folk">Folk</option>
    <option value="Folk Metal">Folk Metal</option>
    <option value="Folk Rock">Folk Rock</option>
    <option value="Forr&#xF3;">Forr&#xF3;</option>
    <option value="Free Funk">Free Funk</option>
    <option value="Free Improvisation">Free Improvisation</option>
    <option value="Free Jazz">Free Jazz</option>
    <option value="Freestyle">Freestyle</option>
    <option value="Freetekno">Freetekno</option>
    <option value="French House">French House</option>
    <option value="Funana&#x301;">Funana&#x301;</option>
    <option value="Funeral Doom Metal">Funeral Doom Metal</option>
    <option value="Funk">Funk</option>
    <option value="Funk Metal">Funk Metal</option>
    <option value="Funkot">Funkot</option>
    <option value="Funky House">Funky House</option>
    <option value="Fusion">Fusion</option>
    <option value="Future Bass">Future Bass</option>
    <option value="Future Bounce">Future Bounce</option>
    <option value="Future Funk">Future Funk</option>
    <option value="Future Garage">Future Garage</option>
    <option value="Future House">Future House</option>
    <option value="Future Jazz">Future Jazz</option>
    <option value="G-Funk">G-Funk</option>
    <option value="Gabber">Gabber</option>
    <option value="Gagaku">Gagaku</option>
    <option value="Gaita">Gaita</option>
    <option value="Gamelan">Gamelan</option>
    <option value="Gangsta">Gangsta</option>
    <option value="Garage House">Garage House</option>
    <option value="Garage Rock">Garage Rock</option>
    <option value="Ghetto">Ghetto</option>
    <option value="Ghetto House">Ghetto House</option>
    <option value="Ghettotech">Ghettotech</option>
    <option value="Glam">Glam</option>
    <option value="Glitch">Glitch</option>
    <option value="Glitch Hop">Glitch Hop</option>
    <option value="Gnawa">Gnawa</option>
    <option value="Go-Go">Go-Go</option>
    <option value="Goa Trance">Goa Trance</option>
    <option value="Gogo">Gogo</option>
    <option value="Goregrind">Goregrind</option>
    <option value="Gospel">Gospel</option>
    <option value="Goth Rock">Goth Rock</option>
    <option value="Gothic Metal">Gothic Metal</option>
    <option value="Grime">Grime</option>
    <option value="Grindcore">Grindcore</option>
    <option value="Griot">Griot</option>
    <option value="Grunge">Grunge</option>
    <option value="Guaguanc&#xF3;">Guaguanc&#xF3;</option>
    <option value="Guajira">Guajira</option>
    <option value="Guaracha">Guaracha</option>
    <option value="Guarania">Guarania</option>
    <option value="Gwo Ka">Gwo Ka</option>
    <option value="Gypsy Jazz">Gypsy Jazz</option>
    <option value="Hands Up">Hands Up</option>
    <option value="Happy Hardcore">Happy Hardcore</option>
    <option value="Hard Beat">Hard Beat</option>
    <option value="Hard Bop">Hard Bop</option>
    <option value="Hard Core">Hard Core</option>
    <option value="Hard House">Hard House</option>
    <option value="Hard Rock">Hard Rock</option>
    <option value="Hard Techno">Hard Techno</option>
    <option value="Hard Techno">Hard Techno</option>
    <option value="Hard Trance">Hard Trance</option>
    <option value="Hard-Trap">Hard-Trap</option>
    <option value="Hardbag">Hardbag</option>
    <option value="Hardbass">Hardbass</option>
    <option value="Hardcore">Hardcore</option>
    <option value="Hardcore Hip-Hop">Hardcore Hip-Hop</option>
    <option value="Hardstyle">Hardstyle</option>
    <option value="Harmonica Blues">Harmonica Blues</option>
    <option value="Harsh Noise Wall">Harsh Noise Wall</option>
    <option value="Health-Fitness">Health-Fitness</option>
    <option value="Heavenly Voices">Heavenly Voices</option>
    <option value="Heavy Metal">Heavy Metal</option>
    <option value="Hi NRG">Hi NRG</option>
    <option value="Highlife">Highlife</option>
    <option value="Hillbilly">Hillbilly</option>
    <option value="Hindustani">Hindustani</option>
    <option value="Hip Hop">Hip Hop</option>
    <option value="Hip-House">Hip-House</option>
    <option value="Hiplife">Hiplife</option>
    <option value="Honky Tonk">Honky Tonk</option>
    <option value="Horrorcore">Horrorcore</option>
    <option value="House">House</option>
    <option value="Hyphy">Hyphy</option>
    <option value="IDM">IDM</option>
    <option value="Illbient">Illbient</option>
    <option value="Impressionist">Impressionist</option>
    <option value="Indian Classical">Indian Classical</option>
    <option value="Indie Pop">Indie Pop</option>
    <option value="Indie Rock">Indie Rock</option>
    <option value="Industrial">Industrial</option>
    <option value="Industrial Techno">Industrial Techno</option>
    <option value="Instrumental">Instrumental</option>
    <option value="Interview">Interview</option>
    <option value="Italo House">Italo House</option>
    <option value="Italo-Disco">Italo-Disco</option>
    <option value="Italodance">Italodance</option>
    <option value="J-Core">J-Core</option>
    <option value="J-Rock">J-Rock</option>
    <option value="J-pop">J-pop</option>
    <option value="Jazz House">Jazz House</option>
    <option value="Jazz-Funk">Jazz-Funk</option>
    <option value="Jazz-Rock">Jazz-Rock</option>
    <option value="Jazzdance">Jazzdance</option>
    <option value="Jazzy Hip-Hop">Jazzy Hip-Hop</option>
    <option value="Jersey Club">Jersey Club</option>
    <option value="Jibaro">Jibaro</option>
    <option value="Joropo">Joropo</option>
    <option value="Jota">Jota</option>
    <option value="Juke">Juke</option>
    <option value="Jump Blues">Jump Blues</option>
    <option value="Jumpstyle">Jumpstyle</option>
    <option value="Jungle">Jungle</option>
    <option value="Jungle Terror">Jungle Terror</option>
    <option value="Junkanoo">Junkanoo</option>
    <option value="K-pop">K-pop</option>
    <option value="Karaoke">Karaoke</option>
    <option value="Kaseko">Kaseko</option>
    <option value="Kawaii Future Bass">Kawaii Future Bass</option>
    <option value="Kay&#x14D;kyoku">Kay&#x14D;kyoku</option>
    <option value="Keroncong">Keroncong</option>
    <option value="Kizomba">Kizomba</option>
    <option value="Klasik">Klasik</option>
    <option value="Klezmer">Klezmer</option>
    <option value="Korean Court Music">Korean Court Music</option>
    <option value="Krautrock">Krautrock</option>
    <option value="Kwaito">Kwaito</option>
    <option value="Lambada">Lambada</option>
    <option value="Lao Music">Lao Music</option>
    <option value="Latin">Latin</option>
    <option value="Latin House">Latin House</option>
    <option value="Latin Jazz">Latin Jazz</option>
    <option value="La&#xEF;k&#xF3;">La&#xEF;k&#xF3;</option>
    <option value="La&#xEF;k&#xF3;">La&#xEF;k&#xF3;</option>
    <option value="Leftfield">Leftfield</option>
    <option value="Lento Violento">Lento Violento</option>
    <option value="Light Music">Light Music</option>
    <option value="Liscio">Liscio</option>
    <option value="Lo-Fi">Lo-Fi</option>
    <option value="Louisiana Blues">Louisiana Blues</option>
    <option value="Lounge">Lounge</option>
    <option value="Lovers Rock">Lovers Rock</option>
    <option value="Luk Krung">Luk Krung</option>
    <option value="Luk Thung">Luk Thung</option>
    <option value="MPB">MPB</option>
    <option value="MPB">MPB</option>
    <option value="Makina">Makina</option>
    <option value="Maloya">Maloya</option>
    <option value="Mambo">Mambo</option>
    <option value="Marcha Carnavalesca">Marcha Carnavalesca</option>
    <option value="Marches">Marches</option>
    <option value="Mariachi">Mariachi</option>
    <option value="Marimba">Marimba</option>
    <option value="Math Rock">Math Rock</option>
    <option value="Mbalax">Mbalax</option>
    <option value="Medieval">Medieval</option>
    <option value="Melbourne Bounce">Melbourne Bounce</option>
    <option value="Melodic Death Metal">Melodic Death Metal</option>
    <option value="Melodic Hardcore">Melodic Hardcore</option>
    <option value="Memphis Blues">Memphis Blues</option>
    <option value="Mento">Mento</option>
    <option value="Merengue">Merengue</option>
    <option value="Metalcore">Metalcore</option>
    <option value="Miami Bass">Miami Bass</option>
    <option value="Microhouse">Microhouse</option>
    <option value="Military">Military</option>
    <option value="Min&#x27;y&#x14D;">Min&#x27;y&#x14D;</option>
    <option value="Minimal">Minimal</option>
    <option value="Minimal Techno">Minimal Techno</option>
    <option value="Minneapolis Sound">Minneapolis Sound</option>
    <option value="Mizrahi">Mizrahi</option>
    <option value="Mod">Mod</option>
    <option value="Modal">Modal</option>
    <option value="Modern">Modern</option>
    <option value="Modern Classical">Modern Classical</option>
    <option value="Modern Electric Blues">Modern Electric Blues</option>
    <option value="Monolog">Monolog</option>
    <option value="Moombahcore">Moombahcore</option>
    <option value="Moombahsoul">Moombahsoul</option>
    <option value="Moombahton">Moombahton</option>
    <option value="Motswako">Motswako</option>
    <option value="Mouth Music">Mouth Music</option>
    <option value="Movie Effects">Movie Effects</option>
    <option value="Mugham">Mugham</option>
    <option value="Musette">Musette</option>
    <option value="Music Hall">Music Hall</option>
    <option value="Musical">Musical</option>
    <option value="Musique Concr&#xE8;te">Musique Concr&#xE8;te</option>
    <option value="M&#xFA;sica Criolla">M&#xFA;sica Criolla</option>
    <option value="NDW">NDW</option>
    <option value="NRG">NRG</option>
    <option value="Neo Soul">Neo Soul</option>
    <option value="Neo Trance">Neo Trance</option>
    <option value="Neo-Classical">Neo-Classical</option>
    <option value="Neo-Romantic">Neo-Romantic</option>
    <option value="Neofolk">Neofolk</option>
    <option value="Nerdcore Techno">Nerdcore Techno</option>
    <option value="New Age">New Age</option>
    <option value="New Beat">New Beat</option>
    <option value="New Jack Swing">New Jack Swing</option>
    <option value="New Wave">New Wave</option>
    <option value="No Wave">No Wave</option>
    <option value="Noise">Noise</option>
    <option value="Noisecore">Noisecore</option>
    <option value="Nordic">Nordic</option>
    <option value="Norte&#xF1;o">Norte&#xF1;o</option>
    <option value="Northern Soul">Northern Soul</option>
    <option value="Novelty">Novelty</option>
    <option value="Nu Metal">Nu Metal</option>
    <option value="Nu Metalcore">Nu Metalcore</option>
    <option value="Nu-Disco">Nu-Disco</option>
    <option value="Nu-House">Nu-House</option>
    <option value="Nueva Cancion">Nueva Cancion</option>
    <option value="Nueva Trova">Nueva Trova</option>
    <option value="Nursery Rhymes">Nursery Rhymes</option>
    <option value="N&#xE9;pzene">N&#xE9;pzene</option>
    <option value="N&#xE9;pzene">N&#xE9;pzene</option>
    <option value="Occitan">Occitan</option>
    <option value="Oi">Oi</option>
    <option value="Opera">Opera</option>
    <option value="Operetta">Operetta</option>
    <option value="Ottoman Classical">Ottoman Classical</option>
    <option value="Outsider House">Outsider House</option>
    <option value="Overtone Singing">Overtone Singing</option>
    <option value="P.Funk">P.Funk</option>
    <option value="Pachanga">Pachanga</option>
    <option value="Pacific">Pacific</option>
    <option value="Parody">Parody</option>
    <option value="Pasodoble">Pasodoble</option>
    <option value="Persian Classical">Persian Classical</option>
    <option value="Philippine Classical">Philippine Classical</option>
    <option value="Philly Club">Philly Club</option>
    <option value="Phleng Phuea Chiwit">Phleng Phuea Chiwit</option>
    <option value="Piano Blues">Piano Blues</option>
    <option value="Piedmont Blues">Piedmont Blues</option>
    <option value="Piobaireachd">Piobaireachd</option>
    <option value="Pipe &#x26; Drum">Pipe &#x26; Drum</option>
    <option value="Plena">Plena</option>
    <option value="Poetry">Poetry</option>
    <option value="Polish Polka">Polish Polka</option>
    <option value="Political">Political</option>
    <option value="Polka">Polka</option>
    <option value="Pop Punk">Pop Punk</option>
    <option value="Pop Punk">Pop Punk</option>
    <option value="Pop Rap">Pop Rap</option>
    <option value="Pop Rock">Pop Rock</option>
    <option value="Porro">Porro</option>
    <option value="Porro">Porro</option>
    <option value="Post Bop">Post Bop</option>
    <option value="Post Rock">Post Rock</option>
    <option value="Post-Hardcore">Post-Hardcore</option>
    <option value="Post-Metal">Post-Metal</option>
    <option value="Post-Modern">Post-Modern</option>
    <option value="Post-Punk">Post-Punk</option>
    <option value="Power Electronics">Power Electronics</option>
    <option value="Power Metal">Power Metal</option>
    <option value="Power Pop">Power Pop</option>
    <option value="Prog Rock">Prog Rock</option>
    <option value="Progressive Breaks">Progressive Breaks</option>
    <option value="Progressive House">Progressive House</option>
    <option value="Progressive Metal">Progressive Metal</option>
    <option value="Progressive Trance">Progressive Trance</option>
    <option value="Promotional">Promotional</option>
    <option value="Psy-Trance">Psy-Trance</option>
    <option value="Psychedelic">Psychedelic</option>
    <option value="Psychedelic Rock">Psychedelic Rock</option>
    <option value="Psychobilly">Psychobilly</option>
    <option value="Pub Rock">Pub Rock</option>
    <option value="Public Broadcast">Public Broadcast</option>
    <option value="Pumping House">Pumping House</option>
    <option value="Punk">Punk</option>
    <option value="Quechua">Quechua</option>
    <option value="R">R</option>
    <option value="Radioplay">Radioplay</option>
    <option value="Ragga">Ragga</option>
    <option value="Ragga HipHop">Ragga HipHop</option>
    <option value="Ragtime">Ragtime</option>
    <option value="Ranchera">Ranchera</option>
    <option value="Rapso">Rapso</option>
    <option value="Ra&#xEF;">Ra&#xEF;</option>
    <option value="Ra&#xEF;">Ra&#xEF;</option>
    <option value="Rebetiko">Rebetiko</option>
    <option value="Reggae">Reggae</option>
    <option value="Reggae Gospel">Reggae Gospel</option>
    <option value="Reggae-Pop">Reggae-Pop</option>
    <option value="Reggaeton">Reggaeton</option>
    <option value="Religious">Religious</option>
    <option value="Renaissance">Renaissance</option>
    <option value="Rhythm &#x26; Blues">Rhythm &#x26; Blues</option>
    <option value="Rhythmic Noise">Rhythmic Noise</option>
    <option value="RnB/Swing">RnB/Swing</option>
    <option value="Rock n Roll">Rock n Roll</option>
    <option value="Rock Opera">Rock Opera</option>
    <option value="Rockabilly">Rockabilly</option>
    <option value="Rocksteady">Rocksteady</option>
    <option value="Romani">Romani</option>
    <option value="Romantic">Romantic</option>
    <option value="Roots Reggae">Roots Reggae</option>
    <option value="Rumba">Rumba</option>
    <option value="Rumba Catalana">Rumba Catalana</option>
    <option value="Rune Singing">Rune Singing</option>
    <option value="Salsa">Salsa</option>
    <option value="Samba">Samba</option>
    <option value="Samba-can&#xE7;&#xE3;o">Samba-can&#xE7;&#xE3;o</option>
    <option value="Schlager">Schlager</option>
    <option value="Schranz">Schranz</option>
    <option value="Score">Score</option>
    <option value="Scouse House">Scouse House</option>
    <option value="Screw">Screw</option>
    <option value="Sea Shanties">Sea Shanties</option>
    <option value="Sephardic">Sephardic</option>
    <option value="Seresta">Seresta</option>
    <option value="Serial">Serial</option>
    <option value="Sermon">Sermon</option>
    <option value="Shoegaze">Shoegaze</option>
    <option value="Ska">Ska</option>
    <option value="Skiffle">Skiffle</option>
    <option value="Skweee">Skweee</option>
    <option value="Slovenian Polka">Slovenian Polka</option>
    <option value="Sludge Metal">Sludge Metal</option>
    <option value="Smooth Jazz">Smooth Jazz</option>
    <option value="Soca">Soca</option>
    <option value="Soft Ballad">Soft Ballad</option>
    <option value="Soft Rock">Soft Rock</option>
    <option value="Son">Son</option>
    <option value="Son Montuno">Son Montuno</option>
    <option value="Son Montuno">Son Montuno</option>
    <option value="Sonero">Sonero</option>
    <option value="Soukous">Soukous</option>
    <option value="Soul">Soul</option>
    <option value="Soul-Jazz">Soul-Jazz</option>
    <option value="Soulful House">Soulful House</option>
    <option value="Sound Art">Sound Art</option>
    <option value="Sound Collage">Sound Collage</option>
    <option value="Sound Poetry">Sound Poetry</option>
    <option value="Soundtrack">Soundtrack</option>
    <option value="Southern Rock">Southern Rock</option>
    <option value="Space Rock">Space Rock</option>
    <option value="Space-Age">Space-Age</option>
    <option value="Spaza">Spaza</option>
    <option value="Special Effects">Special Effects</option>
    <option value="Speech">Speech</option>
    <option value="Speed Garage">Speed Garage</option>
    <option value="Speed Metal">Speed Metal</option>
    <option value="Speedcore">Speedcore</option>
    <option value="Spoken Word">Spoken Word</option>
    <option value="Steel Band">Steel Band</option>
    <option value="Stoner Rock">Stoner Rock</option>
    <option value="Story">Story</option>
    <option value="Surf">Surf</option>
    <option value="Swamp Pop">Swamp Pop</option>
    <option value="Swing">Swing</option>
    <option value="Swingbeat">Swingbeat</option>
    <option value="Symphonic Metal">Symphonic Metal</option>
    <option value="Symphonic Rock">Symphonic Rock</option>
    <option value="Synth-pop">Synth-pop</option>
    <option value="Synthwave">Synthwave</option>
    <option value="S&#xE1;mi Music">S&#xE1;mi Music</option>
    <option value="S&#xE1;mi Music">S&#xE1;mi Music</option>
    <option value="S&#xE9;ga">S&#xE9;ga</option>
    <option value="Tango">Tango</option>
    <option value="Tankqitai">Tankqitai</option>
    <option value="TeKno">TeKno</option>
    <option value="Tech House">Tech House</option>
    <option value="Tech Trance">Tech Trance</option>
    <option value="Technical">Technical</option>
    <option value="Techno">Techno</option>
    <option value="Teen pop">Teen pop</option>
    <option value="Tejano">Tejano</option>
    <option value="Texas Blues">Texas Blues</option>
    <option value="Thai Classical">Thai Classical</option>
    <option value="Theme">Theme</option>
    <option value="Therapy">Therapy</option>
    <option value="Thrash">Thrash</option>
    <option value="Thug Rap">Thug Rap</option>
    <option value="Timba">Timba</option>
    <option value="Trance">Trance</option>
    <option value="Trap">Trap</option>
    <option value="Trap House">Trap House</option>
    <option value="Tribal">Tribal</option>
    <option value="Tribal House">Tribal House</option>
    <option value="Trip Hop">Trip Hop</option>
    <option value="Tropical House">Tropical House</option>
    <option value="Trova">Trova</option>
    <option value="Turntableism">Turntablism</option>
    <option value="Twelve-tone">Twelve-tone</option>
    <option value="Twist">Twist</option>
    <option value="UK Funky">UK Funky</option>
    <option value="UK Garage">UK Garage</option>
    <option value="Vallenato">Vallenato</option>
    <option value="Vaporwave">Vaporwave</option>
    <option value="Viking Metal">Viking Metal</option>
    <option value="Vocal">Vocal</option>
    <option value="Volksmusik">Volksmusik</option>
    <option value="Western Swing">Western Swing</option>
    <option value="Witch House">Witch House</option>
    <option value="Wonky Techno">Wonky Techno</option>
    <option value="Y&#xE9;-Y&#xE9;">Y&#xE9;-Y&#xE9;</option>
    <option value="Zamba">Zamba</option>
    <option value="Zarzuela">Zarzuela</option>
    <option value="Zemer Ivri">Zemer Ivri</option>
    <option value="Zouk">Zouk</option>
    <option value="Zydeco">Zydeco</option>
    <option value="&#xC9;ntekhno">&#xC9;ntekhno</option>
    <option value="&#xC9;ntekhno">&#xC9;ntekhno</option>
</select>